<footer class="footer">
    <div class="footer-box wraper">
        <p class="title">koa2</p>
        <p><a href="https://github.com/echo9z">https://github.com/echo9z</a></p>
        <br>
        <p class="info">JavaScript</p>
        <p class="police">©2022 </p>
    </div>
</footer>