<!-- homeBanner -->
<div class="banner_box">
    <div class="banner_inner">
        <h2 class="slogan">web GGbyte</h2>
        <p class="des">前端团队发起的自由组织<br>JavaScript gogo</p>
        <a href="/user/login" title="gogogo" class="btn" id="gogogo">进入战场</a>
    </div>
</div>