<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400</title>
</head>
<body>
  <div id="error">
        <h1>Error - <%= status %></h1>
        <p>错误码 400 的描述信息</p>
        <% if (env === 'development') {%>
        <h2>Message:</h2>
        <pre>
            <code>
                <%= error %>
            </code>
        </pre>
        <h2>Stack:</h2>
        <pre>
            <code>
                <%= stack %>
            </code>
        </pre> 
        <% } %>
    </div>
</body>
</html>